@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plable Inc.</title>

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-left"><img src="~/images/plable_images/logo_top.png" class="logo-top" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="menu" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li>
                        <a class="menu" asp-area="" asp-controller="Home" asp-action="Rabby">Item</a>
                        <div class="menu-detail">
                            <a class="menu-detail-item" asp-area="" asp-controller="Home" asp-action="Rabby">라비농장</a>
                            <a class="menu-detail-item" asp-area="" asp-controller="Home" asp-action="Grint">그린트</a>
                            <a class="menu-detail-item" asp-area="" asp-controller="Home" asp-action="Flawn">플라운</a>
                        </div>
                    </li>
                    @*<li><a class="menu" asp-area="" asp-controller="Home" asp-action="Solution">Solution</a></li>*@
                    <li><a class="menu" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>
            Plable Inc., All rights Reserved
            <select id="lang">
                <option value="KR">Korean</option>
                <option value="EN">English</option>
                <option value="JP">Japanese</option>
            </select>
            <br />
            <div class="langKR">주식회사 플레이블, 대표자 : 김현호<br />본사 : 전북 전주시 덕진구 반룡로 111, 나노집적센터, 303호@*<br />지사: 서울시 강서구 마곡중앙로 171, 안강프라이빗타워 2차 1306호*@</div>
            <div class="langEN">Plable Inc. Representative : Hyunho Kim<br />Headquarters: 111, Ballyong-ro, Deokjin-gu, Jeonju-si, Jeollabuk-do, Republic of Korea@*<br />Branch Office: 171, Magokjungang-ro, Gangseo-gu, Seoul, Republic of Korea*@</div>
            <div class="langJP">Plable Inc. Representative : Hyunho Kim<br />Headquarters: 111, Ballyong-ro, Deokjin-gu, Jeonju-si, Jeollabuk-do, Republic of Korea@*<br />Branch Office: 171, Magokjungang-ro, Gangseo-gu, Seoul, Republic of Korea*@</div>
        </p>
    </footer>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>