@{
    ViewData["Title"] = "About";
}

<img class="banner" src="~/images/plable_images/about/image/about_banner.jpg" />

<div class="about about-1">
    <div class="about-item about-item-left"><span class="about-label">회사소개</span><br /><br />
        <span>&nbsp;주식회사 플레이블(Plable Inc.)은 Play와 able의 합성어로 이우러져 있습니다.<br />
            &nbsp;말 그대로 즐겁게 놀 수 있는 세상을 만들고자 합니다. 플레이블은 우리의 가치관
            으로 당신과 함께 세상에서 뛰어놀고자 합니다.</span>
    </div>

    <img class="about-item about-item-right about-item-logo" src="~/images/plable_images/about/image/logo.png"/>
</div>

<div class="about about-2">
    <img class="about-item about-item-left img-circle" src="~/images/plable_images/about/image/김현호 대표.png"/>
    <div class="about-item about-item-right"><span class="about-label">대표자소개</span><br /><br />
        <span>&nbsp;김현호 대표는 전자 회사 및 전자 연구원에서 주로 웨어러블 제품 및 센서 제품의
            회로 설계 및 임베디드 시스템을 전공하였습니다. <br />
            &nbsp;현재는 플레이블과 함께 사용자
            에게 새로운 경험을 줄 수 있는 디바이스 및 서비스를 개발하고 있습니다.</span>
    </div>
</div>