@{
    ViewData["Title"] = "About";
}

<img class="banner" src="~/images/plable_images/about/image/about_banner.jpg" />

<div class="about about-1">
    <span class="about-item about-item-left"><span class="about-label">회사소개</span><br /><br />
        <span>Use this area to provide additional information.Use this area to provide additional information.Use this area to provide additional information.</span>
    </span>
    <img class="about-item about-item-right about-item-logo" src="~/images/plable_images/about/image/logo.png"/>
</div>

<div class="about about-2">
    <img class="about-item about-item-left img-circle" src="~/images/plable_images/about/image/김현호 대표.png"/>
    <span class="about-item about-item-right"><span class="about-label">대표자소개</span><br /><br />
        <span>Use this area to provide additional information.Use this area to provide additional information.Use this area to provide additional information.</span>
    </span>
</div>