@{
    ViewData["Title"] = "About";
}

<img class="banner" src="~/images/plable_images/about/image/about_banner.jpg" />

<p class="content-title">
    ABOUT
    <hr class="content-title-underline" width="3%" />
</p>

<div class="langKR">
    <div class="about about-1">
        <div class="about-item about-item-left">
            <span class="about-label">회사소개</span><br /><br />
            <span>
                &nbsp;주식회사 플레이블(Plable Inc.)은 Play와 Able의 합성어로 이루어져 있습니다.<br />
                &nbsp;말 그대로 즐겁게 놀 수 있는 세상을 만들고자 합니다. 플레이블은 우리의 가치관으로
                당신과 함께 세상에서 뛰어놀고자 합니다.
            </span>
        </div>

        <img class="about-item about-item-right about-item-logo" src="~/images/plable_images/about/image/logo.png" />
    </div>

    <div class="about about-2">
        <img class="about-item about-item-left img-circle" src="~/images/plable_images/about/image/김현호 대표.png" />
        <div class="about-item about-item-right">
            <span class="about-label">대표자소개</span><br /><br />
            <span>
                &nbsp;김현호 대표는 전자 회사 및 전자 연구원에서 주로 웨어러블 제품 및 센서 제품의
                회로 설계 및 임베디드 시스템을 연구 및 개발하였습니다. <br />
                &nbsp;현재는 플레이블과 함께 사용자에게
                새로운 경험을 줄 수 있는 디바이스 및 서비스를 제공하고 있습니다.
            </span>
        </div>
    </div>

    <p class="content-title">
        HISTORY
        <hr class="content-title-underline" width="3%" />
    </p>

    <img class="items-history" src="~/images/plable_images/item/image/history.png" />
</div>

<div class="langEN">
    <div class="about about-1">
        <div class="about-item about-item-left">
            <span class="about-label">About Company</span><br /><br />
            <span>
                &nbsp;Plable Inc. is a combination of Play and able.<br />
                &nbsp;We want to create a world where we can literally play happily. We want to play in the world with you with our values.
            </span>
        </div>

        <img class="about-item about-item-right about-item-logo" src="~/images/plable_images/about/image/logo.png" />
    </div>

    <div class="about about-2">
        <img class="about-item about-item-left img-circle" src="~/images/plable_images/about/image/김현호 대표.png" />
        <div class="about-item about-item-right">
            <span class="about-label">About Company representative</span><br /><br />
            <span>
                &nbsp;Hyunho Kim, researches and develops circuit design and embedded system of wearable products and sensor products mainly in electronics companies and electronic research institutes. <br />
                &nbsp;Today, we are providing devices and services that can give users a new experience with the display.
            </span>
        </div>
    </div>

    <p class="content-title">
        HISTORY
        <hr class="content-title-underline" width="3%" />
    </p>

    <img class="items-history" src="~/images/plable_images/item/image/history_en.png" />
</div>

<div class="langJP">
    <div class="about about-1">
        <div class="about-item about-item-left">
            <span class="about-label">会社紹介</span><br /><br />
            <span>
                &nbsp;株式会社 Plable Inc.は PlayとAbleの合成語で構成されています。<br />
                &nbsp;文字通り楽しく遊べる世界を作ろうとします。プレイブルは、私たちの価値観であなたと一緒に、世界で優れ遊んと思います。
            </span>
        </div>

        <img class="about-item about-item-right about-item-logo" src="~/images/plable_images/about/image/logo.png" />
    </div>

    <div class="about about-2">
        <img class="about-item about-item-left img-circle" src="~/images/plable_images/about/image/김현호 대표.png" />
        <div class="about-item about-item-right">
            <span class="about-label">代表の紹介</span><br /><br />
            <span>
                &nbsp;キム・ヒョンホ代表は、電子企業や電子研究では、主ウェアラブル製品やセンサの回路設計および組み込みシステムを研究開発しました。<br />
                &nbsp;現在はプレイブルと一緒に、ユーザーに新しい経験を与えることができるデバイスとサービスを提供しています。
            </span>
        </div>
    </div>

    <p class="content-title">
        HISTORY
        <hr class="content-title-underline" width="3%" />
    </p>

    <img class="items-history" src="~/images/plable_images/item/image/history_jp.png" />
</div>