@{
    ViewData["Title"] = "Contact";
}

<img class="banner" src="~/images/plable_images/contact/image/contact_banner.jpg" />

<div class="contact-container">
    <h4><b>궁금하신점이 있으신가요?</b></h4>
    <br /><br />

    <div>
        <form id="contactForm" class="contact-form" method="post" onsubmit="alert('제출되었습니다.')">
            <div class="form-group form-inline">
                <label class="control-label contact-label">NAME</label>
                <input name="name" class="form-control" type="text" size="45" />
            </div>
            <br />

            <div class="form-group form-inline">
                <label class="control-label contact-label">E-MAIL</label>
                <input name="email" class="form-control" type="email" size="45" />
            </div>
            <br />

            <div class="form-group form-inline">
                <label class="control-label contact-label">MESSAGE</label>
                <textarea name="text" class="form-control" rows="5" cols="47"></textarea>
            </div>
            <br /><br />

            <input class="submit" type="image" src="~/images/plable_images/contact/image/button.PNG" />
        </form>
    </div>
</div>