@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div style="margin-top:5em">
        <p class="item-title">
            플라운
        </p>
        <p class="item-detail-description">식물 키우기를 더 재미있게, 더 아름답게</p>

        <video width="1080" height="810" controls autoplay>
            <source src="~/videos/Flawn_플레이블_170405.mp4" type="video/mp4" />
        </video>
    </div>

    <hr width="80%" />

    <p class="content-title">
        PRODUCT
        <hr class="content-title-underline" width="3%" />
    </p>

    <div class="langKR items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/flawn.png" />
            </div>

            <div>
                <div class="description description3 item-description description3">
                    <h4><b>식물 키우기를 더 재미있게, 더 아름답게</b></h4>
                    <h2>플라운</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            플라운은 가정에서도 우아하게 식물을 키울 수 있게 해주는<br />
                            왕관 형태의 식물 키우기 보조 도구입니다.<br />
                            낮에는 아름다운 플라운의 조명으로 물을 언제 주는지 알 수<br />
                            있고, 밤에는 아름다운 인테리어 조명으로써 동작합니다.<br />
                            식물 키우기를 더 재미있게, 더 아름답게 라비농장은 자연<br />
                            교육을 위한 자동 급수, 조명 조절 기능이 포함된<br />
                            소형온실입니다.<br />
                        </b>
                    </div>
                    <input type="image" class="item-buying-button" src="~/images/plable_images/item/image/buy_now.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="langEN items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/flawn.png" />
            </div>

            <div>
                <div class="description description3 item-description description3">
                    <h4><b>Making plants more fun, more beautiful</b></h4>
                    <h2>FLAWN</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            Fragrance is a crown-shaped plant-growing auxiliary<br />
                            tool that allows you to grow plants elegantly at home.<br />
                            You can see when the water is given by the beautiful<br />
                            daylight and beautiful night light.<br />
                            More fun to plant, more beautiful Lavi Farm is a small<br />
                            greenhouse with automatic watering and lighting control<br />
                            for nature education.<br />
                        </b>
                    </div>
                    <input type="image" class="item-buying-button" src="~/images/plable_images/item/image/buy_now.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="langJP items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/flawn.png" />
            </div>

            <div>
                <div class="description description3 item-description description3">
                    <h4><b>植物を育てるより楽しく、より美しく</b></h4>
                    <h2>FLAWN</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            フライ運は家庭でも優雅に植物を育てることができるようにする<br />
                            王冠形の植物を育てる補助ツールです。<br />
                            昼には美しいプラチナ運の照明で水をいつ与えるか知ること<br />
                            ができ、夜には美しいインテリア照明として、動作します。<br />
                            植物を育てるより楽しく、より美しくラヴィ農場は自然教育の<br />
                            ための自動給水、照明の調整機能が含まれている小型の温室です。<br />
                        </b>
                    </div>
                    <input type="image" class="item-buying-button" src="~/images/plable_images/item/image/buy_now.png" />
                </div>
            </div>
        </div>
    </div>

    <hr class="content-title-underline" width="3%" />

    <div class="items-sns-icon">
        <input type="image" src="~/images/plable_images/item/image/facebook.png" onclick="facebook()" />
        <input type="image" src="~/images/plable_images/item/image/kakao.png" />
    </div>
</div>