@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div style="margin-top:5em">
        <p class="item-title">
            그린트(GRINT)
        </p>
        <p class="item-detail-description">색상을 초록색으로 칠하자</p>

        <video width="1080" height="810" controls autoplay>
            <source src="~/videos/GRINT_플레이블_ORG_170911_홈페이지.mp4" type="video/mp4" />
        </video>
    </div>

    <hr width="80%" />

    <p class="content-title">
        PRODUCT
        <hr class="content-title-underline" width="3%" />
    </p>

    <div class="langKR items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/plant.png" />
            </div>

            <div>
                <div class="description description2 item-description description2">
                    <h4><b>세상을 초록색으로 칠하자</b></h4>
                    <h2>그린트(GRINT)</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            그린트는 세상을 초록색으로 칠하자라는 슬로건으로 제작된<br />
                            디바이스입니다.<br />
                            사막화 방지를 위한 조림사업은 저개발 국가 지원사업(ODA)의<br />
                            일환으로 추진되며 지구 온난화 방지, 국내로 유입 황사 피해<br />
                            감축을 나무를 통해서 지구 온난화, 국내 황사 피해를 줄이고<br />
                            합니다.
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="langEN items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/plant.png" />
            </div>

            <div>
                <div class="description description2 item-description description2">
                    <h4><b>Let's paint the world green.</b></h4>
                    <h2>GRINT</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            Grant is a slogan device to paint the world in green.<br />
                            The afforestation project to prevent desertification<br />
                            is being promoted as part of the ODA project to reduce<br />
                            global warming and reduce the damage caused by the<br />
                            drought.
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="langJP items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/plant.png" />
            </div>

            <div>
                <div class="description description2 item-description description2">
                    <h4><b>世界を緑色に塗りましょう</b></h4>
                    <h2>GRINT</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            グリントは、世界を緑に塗りましょうというスローガンで製作さ<br />
                            れたデバイスです。<br />
                            砂漠化防止のための造林事業は、発展途上国支援事業（ODA）<br />
                            の一環として推進されており、地球温暖化防止、<br />
                            国内に流入黄砂被害の削減を木を通して地球温暖化、<br />
                            国内黄砂被害を減らすます。
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="content-title-underline" width="3%" />

    <div class="items-sns-icon">
        <img src="~/images/plable_images/item/image/facebook.png" />
        <img src="~/images/plable_images/item/image/kakao.png" />
    </div>
</div>