@{
    ViewData["Title"] = "Home Page";
}

<div id="mainCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner full-width" role="listbox">
        <div class="item carousel carousel-1 active">
            <div class="carousel-caption" role="option">
                <img class="dark" src="~/images/plable_images/main/image/icon/icon1.png" />
                <p>
                    [ 우리는 모든 가능성을 향해 도전합니다 ]
                </p>
            </div>
        </div>
        <div class="item carousel carousel-2">
            <div class="carousel-caption" role="option">
                <img class="dark" src="~/images/plable_images/main/image/icon/icon2.png" />
                <p>
                    [ 친구같은 제품과 서비스로 당신의 하루를 선물합니다 ]
                </p>
            </div>
        </div>
        <div class="item carousel carousel-3">
            <div class="carousel-caption" role="option">
                <img class="dark" src="~/images/plable_images/main/image/icon/icon3.png" />
                <p>
                    [ 자연스러운 일상으로 당신과 함께합니다 ]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="link">
    <a asp-area="" asp-controller="Home" asp-action="About"><img class="item-link" src="~/images/plable_images/main/image/company_1.png" /></a>
    <a asp-area="" asp-controller="Home" asp-action="Item"><img class="item-link" src="~/images/plable_images/main/image/item_1.png" /></a>
    <a><img class="item-link" src="~/images/plable_images/main/image/solution_1.png" /></a>
</div>

<div class="link">
    <a asp-area="" asp-controller="Home" asp-action="Contact"><img class="contact-link" src="~/images/plable_images/main/image/contact_1.png" /></a>
</div>