@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/plable_images/main/image/1.jpg" alt="ASP.NET" />
            <div class="carousel-caption" role="option">
                <img src="~/images/plable_images/main/image/icon/icon1.png" />
                <p>
                    [우리는 모든 가능성을 향해 도전합니다]
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/plable_images/main/image/2.jpg" alt="Visual Studio" />
            <div class="carousel-caption" role="option">
                <img src="~/images/plable_images/main/image/icon/icon2.png" />
                <p>
                    [친구같은 제품과 서비스로 당신의 하루를 선물합니다]
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/plable_images/main/image/3.jpg" alt="Package Management" />
            <div class="carousel-caption" role="option">
                <img src="~/images/plable_images/main/image/icon/icon3.png" />
                <p>
                    [자연스러운 일상으로 당신과 함께합니다]
                </p>
            </div>
        </div>
    </div>
    @*<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>*@
</div>

<div class="row link">
    <img src="~/images/plable_images/main/image/company_1.jpg" />
    <img src="~/images/plable_images/main/image/item_1.jpg" />
    <img src="~/images/plable_images/main/image/solution_1.jpg" />
</div>

<div class="row link contact-link">
    <img src="~/images/plable_images/main/image/contact_1.jpg" />
</div>
