@{
    ViewData["Title"] = "Home Page";
}

<div class="langKR items">
    <div>
        <div>
            <img class="targetItem" src="~/images/plable_images/item/image/labi3.jpg" />

            <div class="custom-pagination">
                <div class="page-item page-item-1 active"></div>
                <div class="page-item page-item-2"></div>
                <div class="page-item page-item-3"></div>
            </div>
        </div>

        <div>
            <div class="description description1 item-description description1">
                <h4><b>식물 인큐베이팅 스마트 화분</b></h4>
                <h2>라비농장</h2>
                <hr width="110%" />
                <div>
                    라비농장은 자연 교육을 위한 자동 급수, 조명 조절 기능이<br />
                    포함된 소형온실입니다.<br />
                    전용 화분 카트리지를 넣으면 온실 내부의 센서를 통해서<br />
                    식물에게 필요한 적정량의 물과 빛을 자동으로 공급하여<br />
                    키우기 힘든 환경에서도 식물이 잘 자랄수 있도록 설계한<br />
                    스마트 화분입니다.
                </div>
                <div class="item-description-circle">
                    <div class="circle circle-blue"><span>집안에서도 잘<br />키울수있는 스마트<br />온실</span></div>
                    <div class="circle circle-gray"><span>교체형 화분키트를<br />통한 주변 환경오염<br />최소화</span></div>
                    <div class="circle circle-blue"><span>어린아이들이<br />관심하기 가장<br />좋은 형태</span></div>
                </div>
            </div>

            <div class="description description2 item-description description2">
                <h4><b>세상을 초록색으로 칠하자</b></h4>
                <h2>그린트(GRINT)</h2>
                <hr width="110%" />
                <div>
                    그린트는 세상을 초록색으로 칠하자라는 슬로건으로 제작된<br />
                    디바이스입니다.<br />
                    사막화 방지를 위한 조림사업은 저개발 국가 지원사업(ODA)의<br />
                    일환으로 추진되며 지구 온난화 방지, 국내로 유입 황사 피해<br />
                    감축을 나무를 통해서 지구 온난화, 국내 황사 피해를 줄이고<br />
                    합니다.
                </div>
            </div>

            <div class="description description3 item-description description3">
                <h4><b> </b></h4>
                <h2>플라운</h2>
                <hr width="110%" />
                <div>
                    플라운은 가정에서도 우아하게 식물을 키울 수 있게 해주는<br />
                    왕관 형태의 식물 키우기 보조 도구입니다.<br />
                    낮에는 아름다운 플라운의 조명으로 물을 언제 주는지 알 수<br />
                    있고, 밤에는 아름다운 인테리어 조명으로써 동작합니다.<br />
                    식물 키우기를 더 재미있게, 더 아름답게 라비농장은 자연<br />
                    교육을 위한 자동 급수, 조명 조절 기능이 포함된<br />
                    소형온실입니다.<br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="langEN items">
    <div>
        <div>
            <img class="targetItem" src="~/images/plable_images/item/image/labi3.jpg" />

            <div class="custom-pagination">
                <div class="page-item page-item-1 active"></div>
                <div class="page-item page-item-2"></div>
                <div class="page-item page-item-3"></div>
            </div>
        </div>

        <div>
            <div class="description description1 item-description description1">
                <h4><b>Plant Incubating Smart Flowerpot</b></h4>
                <h2>Ravi farm</h2>
                <hr width="110%" />
                <div>
                    Ravi Farm is a small greenhouse with automatic watering<br />
                    and lighting control for nature education.<br />
                    It is a smart flowerpot designed to supply the plants<br />
                    with the appropriate amount of water and light automatically<br />
                    through the sensor inside the greenhouse when the special<br />
                    flowerpot cartridge is inserted so that the plant can grow<br />
                    well even in a difficult environment.
                </div>
                <div class="item-description-circle">
                    <div class="circle circle-blue"><span>Smart greenhouse<br />to grow well<br />in the house</span></div>
                    <div class="circle circle-gray"><span>Minimize<br />environmental pollution<br />through a replacement pollen kit</span></div>
                    <div class="circle circle-blue"><span>The best form of<br />interest for young<br />children</span></div>
                </div>    
            </div>

            <div class="description description2 item-description description2">
                <h4><b>Let's paint the world green.</b></h4>
                <h2>GRINT</h2>
                <hr width="110%" />
                <div>
                    Grant is a slogan device to paint the world in green.<br />
                    The afforestation project to prevent desertification<br />
                    is being promoted as part of the ODA project to reduce<br />
                    global warming and reduce the damage caused by the<br />
                    drought.
                </div>
            </div>

            <div class="description description3 item-description description3">
                <h4><b> </b></h4>
                <h2>FLAWN</h2>
                <hr width="110%" />
                <div>
                    Fragrance is a crown-shaped plant-growing auxiliary<br />
                    tool that allows you to grow plants elegantly at home.<br />
                    You can see when the water is given by the beautiful<br />
                    daylight and beautiful night light.<br />
                    More fun to plant, more beautiful Lavi Farm is a small<br />
                    greenhouse with automatic watering and lighting control<br />
                    for nature education.<br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="langJP items">
    <div>
        <div>
            <img class="targetItem" src="~/images/plable_images/item/image/labi3.jpg" />

            <div class="custom-pagination">
                <div class="page-item page-item-1 active"></div>
                <div class="page-item page-item-2"></div>
                <div class="page-item page-item-3"></div>
            </div>
        </div>

        <div>
            <div class="description description1 item-description description1">
                <h4><b>植物インキュベータスマート鉢</b></h4>
                <h2>ラヴィ農場</h2>
                <hr width="110%" />
                <div>
                    ラヴィ農場は自然教育のための自動給水、照明の調整機能が含<br />
                    まれている小型の温室です。<br />
                    専用鉢カートリッジを挿入すると、温室内部のセンサーを介して<br />
                    植物に必要な適量の水と光を自動的に供給して育てる大変な環境でも<br />
                    植物がよく育つことができるように設計されたスマート鉢です。
                </div>
                <div class="item-description-circle">
                    <div class="circle circle-blue"><span>家の中でもよくキウルススマート温室</span></div>
                    <div class="circle circle-gray"><span>交換型植木鉢キットを使用した周辺環境の汚染最小化</span></div>
                    <div class="circle circle-blue"><span>子供たちが興味を持っ最も良い形</span></div>
                </div>
            </div>

            <div class="description description2 item-description description2">
                <h4><b>世界を緑色に塗りましょう</b></h4>
                <h2>GRINT</h2>
                <hr width="110%" />
                <div>
                    グリントは、世界を緑に塗りましょうというスローガンで製作さ<br />
                    れたデバイスです。<br />
                    砂漠化防止のための造林事業は、発展途上国支援事業（ODA）<br />
                    の一環として推進されており、地球温暖化防止、<br />
                    国内に流入黄砂被害の削減を木を通して地球温暖化、<br />
                    国内黄砂被害を減らすます。
                </div>
            </div>

            <div class="description description3 item-description description3">
                <h4><b> </b></h4>
                <h2>FLAWN</h2>
                <hr width="110%" />
                <div>
                    フライ運は家庭でも優雅に植物を育てることができるようにする<br />
                    王冠形の植物を育てる補助ツールです。<br />
                    昼には美しいプラチナ運の照明で水をいつ与えるか知ること<br />
                    ができ、夜には美しいインテリア照明として、動作します。<br />
                    植物を育てるより楽しく、より美しくラヴィ農場は自然教育の<br />
                    ための自動給水、照明の調整機能が含まれている小型の温室です。<br />
                </div>
            </div>
        </div>
    </div>
</div>
