@{
    ViewData["Title"] = "Home Page";
}

<div id="itemCarousel" class="carousel item-carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li id="item1" data-target="#itemCarousel" data-slide-to="0" class="active"></li>
        <li id="item2" data-target="#itemCarousel" data-slide-to="1"></li>
        <li id="item3" data-target="#itemCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" id="item1">
            <img src="~/images/plable_images/item/image/labi3.jpg" />
        </div>
        <div class="item" id="item2">
            <img src="~/images/plable_images/item/image/plant.png" />
        </div>
        <div class="item" id="item3">
            <img src="~/images/plable_images/item/image/flawn.png" />
        </div>
    </div>
</div>