@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div style="margin-top:5em">
        <p class="item-title">
            라비농장
        </p>
        <p class="item-detail-description">식물 인큐베이팅 스마트 화분</p>

        <video width="1280" height="720" controls autoplay>
            <source src="~/videos/rabby_review2_b_resize_012517.mp4" type="video/mp4" />
        </video>
    </div>

    <hr width="80%" />

    <p class="content-title">
        PRODUCT
        <hr class="content-title-underline" width="3%" />
    </p>

    <div class="langKR items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/labi3.jpg" />
            </div>

            <div>
                <div class="description description1 item-description description1">
                    <h4><b>식물 인큐베이팅 스마트 화분</b></h4>
                    <h2>라비농장</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            라비농장은 자연 교육을 위한 자동 급수, 조명 조절 기능이<br />
                            포함된 소형온실입니다.<br />
                            전용 화분 카트리지를 넣으면 온실 내부의 센서를 통해서<br />
                            식물에게 필요한 적정량의 물과 빛을 자동으로 공급하여<br />
                            키우기 힘든 환경에서도 식물이 잘 자랄수 있도록 설계한<br />
                            스마트 화분입니다.
                        </b>
                    </div>
                    <div class="item-description-circle">
                        <div class="circle circle-blue"><span>집안에서도 잘<br />키울수있는 스마트<br />온실</span></div>
                        <div class="circle circle-gray"><span>교체형 화분키트를<br />통한 주변 환경오염<br />최소화</span></div>
                        <div class="circle circle-blue"><span>어린아이들이<br />관심하기 가장<br />좋은 형태</span></div>
                    </div>
                    <input type="image" class="item-buying-button" src="~/images/plable_images/item/image/buy_now.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="langEN items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/labi3.jpg" />
            </div>

            <div>
                <div class="description description1 item-description description1">
                    <h4><b>Plant Incubating Smart Flowerpot</b></h4>
                    <h2>Ravi farm</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            Ravi Farm is a small greenhouse with automatic watering<br />
                            and lighting control for nature education.<br />
                            It is a smart flowerpot designed to supply the plants<br />
                            with the appropriate amount of water and light automatically<br />
                            through the sensor inside the greenhouse when the special<br />
                            flowerpot cartridge is inserted so that the plant can grow<br />
                            well even in a difficult environment.
                        </b>
                    </div>
                    <div class="item-description-circle">
                        <div class="circle circle-blue"><span>Smart greenhouse<br />to grow well<br />in the house</span></div>
                        <div class="circle circle-gray"><span>Minimize<br />environmental pollution<br />through a replacement pollen kit</span></div>
                        <div class="circle circle-blue"><span>The best form of<br />interest for young<br />children</span></div>
                    </div>
                    <input type="image" class="item-buying-button" src="~/images/plable_images/item/image/buy_now.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="langJP items">
        <div>
            <div>
                <img class="targetItem" src="~/images/plable_images/item/image/labi3.jpg" />
            </div>

            <div>
                <div class="description description1 item-description description1">
                    <h4><b>植物インキュベータスマート鉢</b></h4>
                    <h2>ラヴィ農場</h2>
                    <hr width="110%" />
                    <div>
                        <b>
                            ラヴィ農場は自然教育のための自動給水、照明の調整機能が含<br />
                            まれている小型の温室です。<br />
                            専用鉢カートリッジを挿入すると、温室内部のセンサーを介して<br />
                            植物に必要な適量の水と光を自動的に供給して育てる大変な環境でも<br />
                            植物がよく育つことができるように設計されたスマート鉢です。
                        </b>
                    </div>
                    <div class="item-description-circle">
                        <div class="circle circle-blue"><span>家の中でもよくキウルススマート温室</span></div>
                        <div class="circle circle-gray"><span>交換型植木鉢キットを使用した周辺環境の汚染最小化</span></div>
                        <div class="circle circle-blue"><span>子供たちが興味を持っ最も良い形</span></div>
                    </div>
                    <input type="image" class="item-buying-button" src="~/images/plable_images/item/image/buy_now.png" />
                </div>
            </div>
        </div>
    </div>

    <hr width="80%" />

    <p class="content-title">
        RECORD
        <hr class="content-title-underline" width="3%" />
    </p>

    <div class="items-record">
        <div>
            <img src="~/images/plable_images/item/image/award.png" />
            <div class="langKR">
                <p class="items-record-description-1">미래창조과학부 창업희망 콘서트</p>
                <p class="items-record-description-2">우수상</p>
            </div>
            <div class="langEN">
                <p class="items-record-description-1">Ministry of Science Founding concert</p>
                <p class="items-record-description-2">Excellence Award</p>
            </div>
            <div class="langJP">
                <p class="items-record-description-1">未来創造科学部創業希望コンサート</p>
                <p class="items-record-description-2">優秀賞</p>
            </div>
        </div>
        <div>
            <img src="~/images/plable_images/item/image/patent2.png" />
            <div class="langKR">
                <p class="items-record-description-1">스마트화분<br />(제 10-2017-0113219호)</p>
                <p class="items-record-description-2">특허출원</p>
            </div>
            <div class="langEN">
                <p class="items-record-description-1">Smart potted plants<br />(No. 10-2017-0113219)</p>
                <p class="items-record-description-2">Patent</p>
            </div>
            <div class="langJP">
                <p class="items-record-description-1">スマート鉢<br />(第 10-2017-0113219号)</p>
                <p class="items-record-description-2">特許出願</p>
            </div>
        </div>
        <div>
            <img src="~/images/plable_images/item/image/patent1.png" />
            <div class="langKR">
                <p class="items-record-description-1">토양의 수분을 모니터링하는 화분<br />(제 20-2017-0004700호)</p>
                <p class="items-record-description-2">실용신안 출원</p>
            </div>
            <div class="langEN">
                <p class="items-record-description-1">Pollen to monitor soil moisture<br />(No. 20-2017-0004700)</p>
                <p class="items-record-description-2">Application for utility model</p>
            </div>
            <div class="langJP">
                <p class="items-record-description-1">土壌の水分を監視する植木鉢<br />(第 20-2017-0004700号)</p>
                <p class="items-record-description-2">実用新案出願</p>
            </div>
        </div>
    </div>

    <hr class="content-title-underline" width="3%" />

    <div class="items-sns-icon">
        <input type="image" src="~/images/plable_images/item/image/facebook.png" onclick="facebook()" />
        <input type="image" src="~/images/plable_images/item/image/kakao.png" />
    </div>
</div>